/* ------Récupération des polices : */

@font-face {
    font-family: 'Anton';
    src: 
    local('Anton'),
    url("../fonts/Anton/Anton-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: 
    local('Monsterrat'),
    url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Montserrat';
    src: 
    local('Montserrat'),
    url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format('truetype');
    font-style: italic;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Hind';
    src: 
    local("Hind"),
    url("../fonts/hind/Hind-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Hind';
    src: 
    local("Hind"),
    url("../fonts/hind/Hind-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Hind';
    src: 
    local("Hind"),
    url("../fonts/hind/Hind-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bolder;
}

/* ------ Ajout des breakpoints pour les tailles de police : */

#connexion>h2 {
    font-size: 1.2rem;
}

#connectButton, #homeButton, #menuLegales>li>a, li>.nav-link, form, #connexion > a {
    font-size: 0.8rem;
}


/* ------ Changement taille tablette */
@media only screen and (min-width:768px) {
    #connexion>h2 {
    font-size: 1.6rem;
}

#connectButton, #homeButton, #menuLegales>li>a, li>.nav-link, form, #connexion > a {
    font-size: 0.9rem;
}
}

/* ------ Changement taille desktop */
@media only screen and (min-width:992px) {
    #connexion>h2 {
    font-size: 2rem;
}

#connectButton, #homeButton, #menuLegales>li>a, li>.nav-link, form, #connexion > a {
    font-size: 1rem;
}
}

