/* Import des fichiers CSS */
@import url(fonts.css);
@import url(variables.css);

/* Configuration de la barre de navigation : */

nav, #menuLegales {
    background-color: var(--NavBar-color);
}

a { 
    font-family: var(--secondary-font);
    font-weight: 600;
}

#menuLegales>li>a:hover {
    background-color: var(--contrast-color) ;
}

#connexion>h2 {
    font-family: var(--main-font);
    color: var(--primary-color);
}

form {
    display: block;
}

form > * {
    margin-top: 20px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

#connexion>a {
    color: var(--primary-color);
}

#connexion>a:hover {
    color: var(--contrast-color);
}

#currentPage, #currentMenu {
    font-weight: bolder;
}

.submit-container button {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    font-weight:500;
}

.submit-container button:last-child {
    background-color: var(--UI-color);
}

body {
    height : 2000px
}