/*================= Import des fichiers CSS */
@import url(fonts.css);
@import url(variables.css);

/*================= Configuration de la barre de navigation : */

nav, #menuLegales {
    background-color: var(--NavBar-color);
}

a { 
    font-family: var(--secondary-font);
    font-weight: 600;
}

#menuLegales>li>a:hover, .nav-link:hover {
    background-color: var(--contrast-color);
}

#connexion>h2 {
    font-family: var(--main-font);
    color: var(--primary-color);
}

form {
    display: grid;
    justify-items: center;
}
form > input {
    color: var(--secondary-color);
    width: 300px ;
}
form > * {
    margin-top: 20px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

#connexion>a {
    color: var(--primary-color);
    margin-bottom: 20px;
}
#connexion>a:hover {
    color: var(--contrast-color);
}

#currentPage, #currentMenu, .submit-container button:hover {
    font-weight: bolder;
}

.submit-container button {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    font-weight:500;
    margin: 0px 5px;
    padding: 6px 12px;
    border-radius: 5px;
}
.submit-container button:last-child {
    background-color: var(--UI-color);
}

/*================= Configuration du Main : */
main {
    margin-top: 100px;
    margin-bottom: 40px;
    color: var(--secondary-color);
    font-family: var(--regular-font);
    text-align: center;
    display: grid;
    row-gap: 50px;
}

section>h2 {
    font-family: var(--main-font);
    width:fit-content ;
    margin: auto;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 2px;
}

/*================= Configuration de la section tournois : */
.tournaments-display {
    display: grid;
    justify-items: center;
}

#card_container {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    margin: 30px 30px;
    text-align: start;
}
.card:hover {
    transition: box-shadow 1s ease-in-out;
    box-shadow: 0px 5px 5px grey;
    border-radius: 7px 7px 7px 7px;
}

.card_img {
    overflow: hidden;
    max-height: 250px;
    filter: brightness(50%);
    border-radius: 5px 5px 0 0;
}
.card_img:hover {
    transition : filter 1s ease-in-out;
    filter: brightness(100%);
}
.card-img-top:hover {
    transition: transform 1s ease-in-out;
    transform: scale(1.05);
}

.card_title {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--contrast-color);
}

.card_text {
    font-weight: 200;
}

.card-body>.btn {
    padding-left: 0;
    text-decoration: underline;
    font-weight: 400;
    color: var(--contrast-color);
}

.cta {
    text-decoration: none;
    background-color: var(--UI-color);
    color: var(--primary-color);
    padding: 7px 14px;
    border-radius: 5px;
    border : solid 2px;
    border-top-color: #A8A8A8;
    border-left-color: #A8A8A8 ;
    border-bottom-color: #545454 ;
    border-right-color: #545454 ;
}
.cta:hover {
    font-weight: bolder;
}

/*================= Configuration de la section Outils : */
.tools-display {
    display: grid;
    row-gap : 20px;
    justify-items: center;
    img {
        max-width: 85vw ;
        border-radius: 5px;
    }
}

/*================ Configuration de la page Outils  */
.pot-odd {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    h3 {
        font-family: var(--secondary-font);
        margin-top: .5rem;
    }
}