@import url(fonts.css);

:root {
    --main-font : "Anton", Arial, sans serif;
    --secondary-font : "Montserrat", Arial, sans serif;
    --regular-font : "Hind", Arial, sans serif;
    --primary-color : #FFFFFF;
    --secondary-color :#1d1d1d;
    --NavBar-color : #252525;
    --UI-color : #E64343;
    --contrast-color: #2D8052;
}